{% load static %}
<!DOCTYPE html>
<html>
   <head>
      <title>Lockdown Pass</title>
   </head>

   <body>
    <img src="assets/upgovlogo.jpeg" alt="image" width="200" height="150" />
    <h1><font size="6">Lockdown Pass</font></h1>
    <h2>Valid Upto: 20/04/2020</h2>
    <h1 style="display:inline;">Name : </h1><h2 style="display:inline;">{{ a.name }}</h2><br><br>
    <h1 style="display:inline;">Email : </h1><h2 style="display:inline;">a@gmail.com</h2><br><br>
    <h1 style="display:inline;">Phone Number : </h1><h2 style="display:inline;">9369477658</h2><br><br>
    <h1 style="display:inline;">District : </h1><h2 style="display:inline;">Noida</h2><br><br>
    <h1 style="display:inline;">Vehicle Number : </h1><h2 style="display:inline;">1970 AD 6606</h2><br><br>
    <h1 style="display:inline;">Aadhar Card Number : </h1><h2 style="display:inline;">936947765812</h2><br><br>
    <h1 style="display:inline;">Address : </h1><h2 style="display:inline;">368/2,Sadar Bazar,Allahabad</h2><br><br>
    <h1 style="display:inline;">Reason : </h1><h2 style="display:inline;">Buy Medicines</h2><br><br>
    <h1 style="display:inline;">Issue Date : </h1><h2 style="display:inline;">01/01/2200 67:67:67</h2><br><br>
    <h1 style="display:inline;">Pass Category : </h1><h2 style="display:inline;">mvkjosoavpakj</h2><br><br>
    <h1 style="display:inline;">Sub Category : </h1><h2 style="display:inline;">kbpsobkapvgosrj</h2><br><br>

   </body>
</html>